.create {
  flex-direction: column;
}

.form {
  margin-top: 2rem;
  width: 80%;
}

.form-group {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 1rem 0;
}

.form-label {
  padding: 1rem 1rem 1rem 0;
}

@media (min-width: 600px) and (max-width: 1024px) {
  .form {
    width: 100%;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 1rem 0;
  }
  
  .form-label {
    padding: 1rem 1rem 1rem 0;
  }
}

@media (min-width: 1025px){
  .form {
    width: 40%;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 1rem 0;
  }
  
  .form-label {
    padding: 1rem 1rem 1rem 0;
  }
}