.create {
  color: white;
  flex-direction: column;
}

.form {
  margin-top: 2rem;
  width: 90%;
}

.form-group {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 1rem 0;
}

.form-label {
  padding: 1rem 1rem 1rem 0;
}

@media (min-width: 901px){
  .form {
    width: 40%;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 1rem 0;
  }
  
  .form-label {
    padding: 1rem 1rem 1rem 0;
  }

  .size-10 {
    font-size: 10rem;
  }
  
  .size-5 {
    font-size: 5rem;
  }
  
  .size-2 {
    font-size: 2rem;
  }
  
  .size-oneHalf {
    font-size: 1.5rem;
  }
}