.home {
  flex-direction: column;
}

.secondary-title {
  font-size: 0.9rem;
}

@media (min-width: 650px) and (max-width: 1024px) {
  .home {
    flex-direction: row;
  }

  .secondary-title {
    font-size: 1.5rem;
    width: 15%;
  }
}

@media (min-width: 1025px) {
  .home {
    flex-direction: row;
  }

  .secondary-title {
    font-size: 1.5rem;
    width: 5%;
  }
}
