.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem;
  background-color: black;
}

#link-list {
  list-style: none;
  display: none;
  flex-direction: column;
  margin: 2rem 0;
}

.logo {
  font-size: 1.5rem;
  font-family: "Lobster", cursive;
  width: 100%;
}

.navbar-list {
  margin: 2rem;
}

.navbar-item {
  padding: 0.1rem 0;
  font-weight: 300;
  font-size: 1rem;
  font-family: "Oswald", sans-serif;
}

.icon {
  position: absolute;
  top: 1.4rem;
  right: 1rem;
}

@media (min-width: 600px) and (max-width: 1024px) {
  .navbar {
    grid-area: navbar;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: unset;
    height: 100%;
    background-color: unset;
  }

  #link-list {
    display: flex;
  }

  .icon {
    display: none;
  }
}

@media (min-width: 1025px) {
}
